* {
	font-family: sans-serif;
}
#vedixLogo {
	padding: 0.313rem;
	padding-left: 13.75rem;
}
#resetText {
	color: #414042;
}
#resetPasswordForm {
	width: 31.25rem;
	margin: auto;
	text-align: center;
	margin-top: 3.125rem;
}
#resetPasswordForm > form > input {
	width: 23.125rem;
	height: 2.688rem;
	margin-bottom: 0.825rem;
	border-radius: 0.188rem;
	border: 0.063rem solid gray;
	padding-left: 0.625rem;
}
#resetPasswordForm > form > input:nth-child(3) {
	background-color: #e78471;
	font-weight: bold;
	color: whitesmoke;
	font-size: 1rem;
	width: 24.062rem;
	cursor: pointer;
}
#resetPasswordForm > form > input:nth-child(3):hover {
	background-color: #f7b4a8;
}
#goBack > a {
	text-decoration: none;
	color: gray;
	font-size: 0.9rem;
}
#alertMsg {
	color: red;
	font-size: 0.75rem;
	margin-bottom: 0.7rem;
}
